/*-------------------GENERAL-------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;    
    letter-spacing: 0%;
    line-height: auto;
    font-weight: bold;
    color: #292E47;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 24px;
}

.pBodyMedium {
    font-size: 24px;
}

.pBodyRegular {
    font-size: 20px;
    line-height: 150%;
}

.pHeadlineRegular {
    line-height: 150%;
    font-size: 17px;
}

.pHeadlineMedium {
    line-height: 130%;
    font-size: 17px;
}

.pCaptionOne {
    line-height: auto;
    font-size: 15px;
}

.pCaptionTwo {
    line-height: auto;
    font-size: 13px;
}

/*---------------------NAVBAR----------------------*/

nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 122px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 50%;
}

.navContainer ul {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
}

@media only screen and (max-width: 810px) {
    .navContainer ul {
        width: 50% !important;
    }
}

.navContainer a {
    text-decoration: none;
    color: #292E47;
}

.navContainer button{
    height: 100%;
    width: 12%;
    color: #fff;
    background-color: #072AC8;
    border: none;
}

@media only screen and (max-width: 810px) {
    .navContainer button{
        width: 20%;
    }
}

.navContainer button a{
    color: #fff;
}

.navContainer ul a:hover {
    color: #072AC8;
}

/*---------------------SECTION----------------------*/

.contactUsSection {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.contactUsContainer {
    width: 70%;
}

form {
    margin-top: 5%;
}

.fullName input {
    margin-top: 1%;
    width: 100%;
    height: 60px;
}

.contacts {
    display: flex;
}

.contacts input {
    margin-top: 1%;
    height: 60px;
}

.fMessageContainer textarea {
    margin-top: 2%;
    width: 100%;
}

.errorDiv {
    margin-top: 3%;
    color: red;
}

.submitButton {
    width: 100%;
    background-color: #072AC8;
    color: #fff;
    margin-top: 5%;
    border: none;
    padding: 5%;
}

/*---------------------FOOTER----------------------*/

footer {
    display: flex;
    justify-content: center;
    height: 242px;
    margin-top: 5%;
}

.footerContainer {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.direction {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.footerLinksContainer {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.footerLinks {
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 390px) {
    .direction img {
        margin-bottom: 10%;
    }

    .footerLinksContainer {
        margin-top: 10%;
        width: 100% !important;
    }
}