
/*---------------------SECTION----------------------*/

.contactUsSection {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.contactUsContainer {
    width: 70%;
}

form {
    margin-top: 5%;
}

.fullName input {
    margin-top: 1%;
    width: 100%;
    height: 60px;
}

.contacts {
    display: flex;
}

.contacts input {
    margin-top: 1%;
    height: 60px;
}

.fMessageContainer textarea {
    margin-top: 2%;
    width: 100%;
}

.errorDiv {
    margin-top: 3%;
    color: red;
}

.submitButton {
    width: 100%;
    background-color: #072AC8;
    color: #fff;
    margin-top: 5%;
    border: none;
    padding: 5%;
}